[user]
  name = Vasco Nunes
  email = contact@vasco.dev
  signingkey = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCrwxSEti6VshO3D4kqVScQI1WMkac3bvxd37FD/TgE9Hihu+ucZNpOAKRa2jsh5MaTc6M5Mc7mhphEKPqA6QyNXwk5IywIyvGRSPMaDtVRbtsWYbJsu+2CJeLgmNfQXIoPLmQWI44EZK+I00DGcuBBE/A1/QogDKxBLe2hVYmqpzaWQY0vqkiwnTlvXV1STZ3325NIzfgrVD4FsQ2f5ct6zjpzZipvzS2d2LlYWOmaB3Kmv3Bgsy428qd2WGjKEFod1N91NzpcooPr/87kqAoUZm5DVJy/ZRK3O/UqHJTJ7dtkGjgNOWanALa/aTxtzJ5PyI0BG2RzV0VGvoRq9sHd vasco@imac-de-vasco.lan"
[core]
  excludesfile = /Users/vasco.nunes/.gitignore_global
  editor = nvim
[web]
  browser = w3m
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[merge]
  tool = vimdiff
[github]
  user = vascomfnunes
[color]
  pager = true
  ui = auto
  status = auto
  diff = auto
  branch = auto
  showBranch = auto
  interactive = auto
  grep = auto
[color "diff"]
  plain = normal
  meta = bold
  frag = cyan
  old = red
  new = green
  commit = yellow
  whitespace = normal red
[color "branch"]
  current = green
  local = normal
  remote = red
  plain = normal
[color "status"]
  header = normal
  added = red
  updated = green
  changed = red
  untracked = red
  nobranch = red
[color "grep"]
  match = normal
[color "interactive"]
  prompt = normal
  header = normal
  help = normal
  error = normal
[commit]
  template = ~/.gitmessage
  gpgsign = true
[tag]
  gpgsign = true
[pull]
  rebase = false
[init]
  defaultBranch = main
[format]
	pretty = %Cred%h%Creset - %Cgreen(%ad)%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset
[help]
  autocorrect = 1
[interactive]
  diffFilter = delta --color-only
[includeIf "gitdir:~/workspace/"]
  path = ~/workspace/.gitconfig
[gpg]
	format = ssh
