# Install delta plugin from https://github.com/dandavison/delta
[user]
  name = Vasco Nunes
  email = vasco.m.nunes@me.com
  signingkey = 7531A03F3184C1492BDAF1F9E38CDD2D5AC53E67
[includeIf "gitdir:~/repos/**"]
  path = ~/repos/.gitconfig
[core]
  excludesfile = ~/.gitignore_global
  editor = nvim
[github]
  user = vascomfnunes
[color]
  ui = true
[commit]
	verbose = true
  gpgsign = false
[tag]
  gpgsign = true
[diff]
  colorMoved = default
[init]
  defaultBranch = main
[diff]
  tool = nvimdiff
  colorMoved = default
[difftool]
  prompt = false
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool]
  prompt = true
[mergetool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c 'wincmd w' -c 'wincmd J'"
[pull]
  rebase = true
[gpg]
	program = /opt/homebrew/bin//gpg
[rerere]
  enabled = true
