mpd/.mpd/state
nvim/.config/nvim/undo
nvim/.config/nvim/plugin/packer_compiled.lua
newsboat/.newsboat/cache.db*
newsboat/.newsboat/cookies.txt
mpd/.mpd/log
mpd/.mpd/pid
mpd/.mpd/sticker.sql
mpd/.mpd/database
mutt/.mutt/cache*
vifm/.vifm/trash
vifm/.vifm/vifminfo.json
w3m/.w3m/history
w3m/.w3m/cookie
w3m/.w3m/w3m*
tags*
misc/.misc/api_keys
misc/.misc/bitbucket
weechat/.config/weechat/*.log
weechat/.config/weechat/sec*
weechat/.config/weechat/logs
weechat/.config/weechat/alias.conf
weechat/.config/weechat/autosort.conf
weechat/.config/weechat/buflist.conf
weechat/.config/weechat/charset.conf
weechat/.config/weechat/colorize_nicks.conf
weechat/.config/weechat/exec.conf
weechat/.config/weechat/fifo.conf
weechat/.config/weechat/fset.conf
weechat/.config/weechat/irc.conf
weechat/.config/weechat/logger.conf
weechat/.config/weechat/perl.conf
weechat/.config/weechat/plugins.conf
weechat/.config/weechat/python.conf
weechat/.config/weechat/relay.conf
weechat/.config/weechat/ruby.conf
weechat/.config/weechat/script.conf
weechat/.config/weechat/spell.conf
weechat/.config/weechat/trigger.conf
weechat/.config/weechat/xfer.conf
weechat/.config/weechat/lua.conf
weechat/.config/weechat/tcl.conf
weechat/.config/weechat/typing.conf
mpv/.config/mpv/watch_later
mpv/.config/mpv/playlists
gnupg/.gnupg/private*
gnupg/.gnupg/pub*
gnupg/.gnupg/sshcontrol
gnupg/.gnupg/.#*
gnupg/.gnupg/tofu*
*.log
*.gpg
