mpd/.mpd/state
nvim/.config/nvim/undo
nvim/.config/nvim/plugin/packer_compiled.lua
newsboat/.newsboat/cache.db*
newsboat/.newsboat/cookies.txt
mpd/.mpd/log
mpd/.mpd/pid
mpd/.mpd/sticker.sql
mpd/.mpd/database
mutt/.mutt/cache*
vifm/.vifm/trash
vifm/.vifm/vifminfo.json
w3m/.w3m/history
w3m/.w3m/cookie
w3m/.w3m/w3m*
tags*
misc/.misc/api_keys
misc/.misc/bitbucket
mpv/.config/mpv/watch_later
mpv/.config/mpv/playlists
gnupg/.gnupg/private*
gnupg/.gnupg/pub*
gnupg/.gnupg/sshcontrol
gnupg/.gnupg/.#*
gnupg/.gnupg/tofu*
gnupg/.gnupg/random_seed
weechat/.config/weechat
!/weechat/.config/weechat/weechat.conf
!/weechat/.config/weechat/irc.conf
*.log
*.gpg
fish/.config/fish/completions
fish/.config/fish/conf.d
fish/.config/fish/fish_variables
fish/.config/fish/functions
tmux/.tmux/plugins
alacritty/.config/alacritty/*.bak
zed/.config/zed/embeddings
zed/.config/zed/prompts
zed/.config/zed/conversations
*.DS_Store
